{% extends 'manageForms/base.html' %}
{% load static %}
{% block title %}
<title>Reset your EveryWhere account's password</title>
{% endblock %}

    {% block message  %}

{% endblock %}
{% block form%}

    <div class="container">
        <div class="card center spacer">
            <h1 class="title text-center">Réinitialiser votre mot de passe</h1>
            <div class="mute-paragraph">
                Entrez l'addresse email associée avec votre compte et nous allons vous envoyer un email avec des instructions à suivre afin de réinitialiser votre mot de passe.

            </div>

            <form method="get" class="login-form spacer" id="signup-form">

                <div class="input-group">
                    <img class="icon input-icon" src="{% static 'icons/envelope.png' %} " alt="">
                    <input required name="email" id="email" type="email" class="form-input" placeholder="end@gmail.com">
                </div>

                <input type="submit" class="submit" value="Envoyer les instructions">
            </form>

        </div>


    </div>

{% endblock %}