html,body 
    {
    	margin: 0px;
    	padding:0px;
    }
h1
{
	color: red;
	font-style: italic;
	width: 3em;
	height: 3em;
}
img
{

}
.border
{
	border: 3px blue solid;
	box-shadow: 10px 5px 5px red;
}
